__pycache__/
*.pyc
*.pyo
*.pyd


venv/
.env
pyvenv.cfg



*.log
logs/
.scrapy/


# Scraper outputs
data_extraction/event_scraper/data/*.json
data_extraction/event_scraper/logs/
Web_Scraping/event_scraper/data/*.json



.vscode/
.DS_Store